@font-face {
    font-family: 'Marquee';
    src: url(./the_bold_font/the_bold_font.ttf);
}

:root {
    --BrianBlue: #175C90;
    --BarriRed: #BD392C;
    --AllALorne: #D9D9D9;
    background-color: var(--AllALorne);
}

/* troubleshooting */

* {
    border: 1px solid red;
}


body {
    font-size: 16px;
    font-family: 'Marquee', sans-serif;
    color: black;
}

nav {
    background-color: var(--BrianBlue);
    height: 50px;
}

h2 {
    margin-top: -60px;
}

.nav-button {
    text-align: center;
    margin: 0.75% 1% 1% 1%;
    font-family: 'Marquee';
    font-size: 1.25em;
    padding: 5px 15px 1px 15px;
    border-radius: 5px;
    background-color: var(--AllALorne);
}

/*messing with the banner*/

#banner-title {
    font-size: 100px;
    margin-top: 3%;
    color: var(--BarriRed);
}

#banner-logo {
    max-height: 300px;
    width: auto;
}

#banner-flex-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    height: 300px;
}

main {
    height: 500px;
    background-image: url(./images/desktop_header_transparent.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

a {
    color: var(--BrianBlue);
}

h3 {
    display: inline-block;
    font-size: 6.4em;
    margin-top: 15px;
    text-align: right;
    padding-right: 35px;
}

p {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

#banner-text {
    grid-column-start: 2;
    grid-column-end: auto;
}

footer {
    background-color: var(--BrianBlue);
    height: 50px;
    position: bottom;
    padding-top: 15px;
    color: var(--AllALorne);
    font-size: 1.5em;
}