@font-face {
    font-family: 'Marquee';
    src: url(./the_bold_font/the_bold_font.ttf);
}

:root {
    --BrianBlue: #175C90;
    --BarriRed: #BD392C;
    --AllALorne: #D9D9D9;
    background-color: var(--AllALorne);
    scroll-behavior: smooth !important;
}

/* troubleshooting 

* {
    border: 1px solid red;
}

*/


body {
    font-size: 16px;
    font-family: 'Marquee', sans-serif;
    color: black;
}

h2 {
    margin-top: -60px;
    width: 70%;
}

nav {
    background-color: var(--BrianBlue);
    height: 50px;
    position: relative; /*changed for dropdown*/
}

/*more dropdown changes*/

.nav-drop {
    display: none;
    position: absolute;
    background-color: var(--BrianBlue);
}

.nav-drop a {
    color: var(--AllALorne);

}

.nav-drop a:hover {
    background-color: black;
}

.nav-button {
    text-align: center;
    margin: 0.75% 1% 1% 1%;
    font-family: 'Marquee';
    font-size: 1.25em;
    padding: 5px 15px 1px 15px;
    border: 1px solid var(--AllALorne);
    border-radius: 5px;
    background-color: var(--AllALorne);
}

.nav-button:hover {
    color: var(--BarriRed);
}

/*messing with the banner*/

#banner-title, #detailed-title {
    font-size: 100px;
    margin-top: 3%;
    color: var(--BarriRed);
}

#detailed-title {
    padding-top: 2%;
}

#banner-logo {
    max-height: 300px;
    width: auto;
}

#banner-flex-container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    height: 300px;
}

main {
    height: 500px;
    background-image: url(./images/desktop_header_transparent.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

aside {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

main a, .big-black-box a {
    color: var(--BrianBlue);
}

h3 {
    display: inline-block;
    font-size: 6.4em;
    margin-top: 15px;
    text-align: right;
    padding-right: 35px;
}

h4 {
    font-size: 2em;
}

.big-black-box {
    height: 1200px;
    width: auto;
    background: linear-gradient(black, var(--AllALorne)50%);
    margin-top: -12px;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 10%;
}

#main-content {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    margin-top: 15px;
}

#banner-text {
    grid-column-start: 2;
    grid-column-end: auto;
}

footer {
    background-color: var(--BrianBlue);
    height: 50px;
    position: bottom;
    padding-top: 15px;
    color: var(--AllALorne);
    font-size: 1.5em;
}

footer a {
    color: var(--AllALorne);
}

.nav-button a:hover {
    background-color: var(--BarriRed);
}

footer a:visited {
    color: var(--AllALorne);
}