body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: url("./images/back4.jpeg");
    color: whitesmoke;
    text-shadow: -1px -1px rgb(30, 60, 29), 1px -1px black, -1px 1px rgb(30, 60, 29), 1px 1px black;
    height: auto;
    width: 50%;
    margin-left: 8%;
}

h1, 
    #introToPage,
        #really
     {
    text-shadow: -2px -2px rgb(30, 60, 29), 1px -1px black, -2px 2px rgb(30, 60, 29), 1px 1px black;
    font-size: 5.5rem;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
    padding-right: 200px;
}

h2 {
    font-size: 1.5rem;
    width: 50%;
}

button {
    font-size: 1.5rem;
    color: rgb(30, 60, 29);
    height: 40px;
    font-family: 'Berkshire Swash', cursive;
    border: 2px solid rgb(30, 60, 29);
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    color: rgb(172, 48, 48);
    border: 4px solid rgb(172, 48, 48);
  }
  
#landingPage {
    opacity: 100%;
    transition: opacity 1s ease-out 15ms;
    visibility: visible;
  }
  
#movieChooser {
    opacity: 0%;
    transition: opacity 1s ease-in 1s;
    position: absolute;
    top: 0;
    visibility: hidden;
    
  }

#movieRec {
    opacity: 0%;
    transition: opacity 1s ease-in 1s;
    position: absolute;
    top: 0;
    visibility: hidden;
    
}
  
#booleans {
    font-size: 2rem;
    display: grid;
    grid-template: 5 / 3;
}

label {
    font-size: 1.33rem;
}

#movieRecommendations h1{
    font-size: 3rem;
    width: 70%;
}

a:hover {
    color: rgb(172, 48, 48);
}

#movies h2, #allMovies h2 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    width: 45%;
}

.movieCard {
    background-color: #ebefe7;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    color:rgb(172, 48, 48);
    text-shadow: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

aside,
    .gretastake {
    font-size: 1.25rem;
}

.myscore {
    font-family: 'Berkshire Swash', cursive;
}

a {
    color:rgb(30, 60, 29);
    text-shadow: -1px -1px whitesmoke, 1px -1px whitesmoke, -1px 1px whitesmoke, 1px 1px whitesmoke;
}

#worstButton {
    visibility: hidden;
    opacity: 0%;
}

#contact {
    font-size: 2rem;
    color: whitesmoke;
    height: 4rem;
}

#blogList h1 {
    font-size: 3rem;
}
    
/* -------- mobile optimization changed 12/10/2022 ------------*/
    @media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    
    body {
        background-image: url("./images/mobback3.jpeg");
        background-size: 800px;
        width: 90%;
        margin-left: 8%;
        margin-right: 8%;
        font-size: 16px;
    }
        
    h1 {
        font-size: 3rem;
    }
    
    #landingPage h1, 
        #introToMovies h1 {
        font-size: 7rem;
        width: 90%;
        text-shadow: -1px -1px rgb(172, 48, 48), 1px -1px black, -1px 1px rgb(172, 48, 48), 1px 1px black;
    }
    
    #landingPage h2 {
        font-size: 5rem;
        width: 90%;
    }
    
    /*hide other choices on mobile to prevent scrolling*/    
        
   button #worstMovie {
        visibility: hidden;
        opacity: 0%;
    }
    
   button #perfectMovie {
       visibility: hidden;
       opacity: 0%;
   }
        
   /*hide search on AllMovies page*/
   #allMoviesHeader h2, #allMoviesHeader aside {
        visibility: hidden;
        opacity: 0%;
        font-size: .25rem;
   }
   
   /*movie card formatting*/
        
   #allMoviesHeader h1 {
        font-size: 7rem;
        width: 90%;
   }
        
   #allMovies h2, #allMovies .myscore, #blog h2 {
       font-size: 3rem;
       width: 90%;
   }
        
   #allMovies p, .gretastake {
       font-size: 2.5rem;     
   }   
   
   /*make remaining button bigger*/
        
    #goToBooleans, #makeChoice {
        font-size: 5rem;
        background-color: white;
        height: auto;
        width: 90%;
        border: 2px solid rgb(172, 48, 48);
        border-radius: 5px;
        
    }
   /*more space to click*/     
   #booleans .grid-item {
       padding-bottom: 4px;
       padding-top: 4px;
    }
    
    footer {
        padding-bottom: 10px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 3rem;
    }
        
    footer #blogNow, 
        footer #recommend, 
            footer #more, 
                footer #contact {
        font-size: 3rem;
        width: 90%;
    }
       
    a {
        color: whitesmoke;
        text-shadow: -1px -1px rgb(172, 48, 48), 1px -1px black, -1px 1px rgb(172, 48, 48), 1px 1px black;
    }
        
   #blog h1 {
       font-size: 7rem;
   }
        
    #bloglist h2 {
        font-size: 3rem;
    }
    
    #blogList h1 {
        font-size: 4rem;
        width: 90%;
    }
        
    main #movieRec {
        width: 90%;
    }
        
    #movieRecommendations h1 {
        font-size: 6rem;
        width: 90%;
    }
    
    #movieRecommendations h2 {
        font-size: 4rem;
        width: 90%;
    }
    
    /*this works*/    
        
    label {
        font-size: 4rem;
    }
    
    input[type='checkbox'] {
        -webkit-appearance:none;
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:2px solid #555;
    }
    
    input[type='checkbox']:checked {
    background: rgb(172, 48, 48);
    }
    
    #movieChooser h1 {
        width: 90%;
        font-size: 5rem;
    }

    #movieChooser h2 {
        font-size: 4rem;
    }
       

 }
    
