body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: url("./images/background.jpeg");
    color: whitesmoke;
    text-shadow: -1px -1px rgb(30, 60, 29), 1px -1px black, -1px 1px rgb(30, 60, 29), 1px 1px black;
    height: auto;
    width: 60%;
    margin-left: 8%;
}

h1, 
    #introToPage,
        #really
     {
    text-shadow: -2px -2px rgb(30, 60, 29), 1px -1px black, -2px 2px rgb(30, 60, 29), 1px 1px black;
    font-size: 5.5rem;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
    padding-right: 200px;
}

h2 {
    font-size: 1.5rem;
}

button {
    font-size: 1.5rem;
    color: rgb(30, 60, 29);
    height: 40px;
    font-family: 'Berkshire Swash', cursive;
    border: 2px solid rgb(30, 60, 29);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

button:hover {
    color: rgb(172, 48, 48);
    border: 4px solid rgb(172, 48, 48);
  }
  
#landingPage {
    opacity: 100%;
    transition: opacity 1s ease-out 15ms;
    visibility: visible;
  }
  
#movieChooser {
    opacity: 0%;
    transition: opacity 1s ease-in 1s;
    position: absolute;
    top: 0;
    visibility: hidden;
    
  }

#movieRec {
    opacity: 0%;
    transition: opacity 1s ease-in 1s;
    position: absolute;
    top: 0;
    visibility: hidden;
    
}
  
#booleans {
    font-size: 2rem;
    display: grid;
    grid-template: 5 / 3;
}

label {
    font-size: 1.33rem;
}

#movieRecommendations h1{
    font-size: 3rem;
    width: 70%;
}

nav {
    padding: 10px 20px;
    background: #ebefe7;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 50px;
    border: solid 3px #ebefe7;
    color: rgb(172, 48, 48);
    font-size: 1.5rem;
}

li {
    display: inline;
}

a:hover {
    color: rgb(172, 48, 48);
}

#movies h2 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
}

.movieCard {
    background-color: #ebefe7;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.7rem;
    color:rgb(172, 48, 48);
    text-shadow: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

aside,
    .gretastake {
    font-size: 1.25rem;
}

.myscore {
    font-family: 'Berkshire Swash', cursive;
}

a {
    color:rgb(30, 60, 29);
    text-shadow: -1px -1px whitesmoke, 1px -1px whitesmoke, -1px 1px whitesmoke, 1px 1px whitesmoke;
}

#worstButton {
    visibility: hidden;
    opacity: 0%;
}

#contact {
    font-size: 1.25rem;
    color: whitesmoke;
    height: 4rem;
}
    
/* -------- mobile optimization changed 12/21/2021 ------------*/
    @media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    
        body {
            background-image: url("https://wallpapercave.com/wp/wp8024816.jpg");
            background-size: 1200px;
            width: 85%;
            margin-left: 8%;
        }
        
        h1 #landingPage {
            font-size: 6rem;
            width: 85%;
        }
        
        h2 #landingPage {
            font-size 5rem;
        
        }
        
        button {
            font-size: 3rem;
            background-color: white;
            width: 80%;
            height: auto;
        }
            
        aside,
            .gretastake {
            font-size: 3rem;
        }
        
        #movies h2 {
            font-size: 4rem;
        }
        
        .grid-item {
            font-size: 3rem;
        }
    }
    
