:root {
    --sabine-purple: #6c3f8b;
    --sabine-seafoam: #98d1b7;
    --sabine-charcoal: #3e4357;
    --sabine-offwhite: #f2eaef;
    --sabine-lime: #9bb953;
    --sabine-yellow: #fde577;
    --sabine-light-blue: #cee6ff;
    --sabine-blue: #5947d6;
    --sabine-orange: #fbca5e;
    --shadow: -2px -2px var(--sabine-charcoal), 2px -2px var(--sabine-charcoal), -2px 2px var(--sabine-charcoal), 2px 2px var(--sabine-charcoal);
}

html {
    font-size: 16px;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(108,63,139);
    background: linear-gradient(rgba(108,63,139,1) 42%, rgba(152,209,183,1) 93%);
}

h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 7rem;
    color: var(--sabine-offwhite);
    text-shadow: -2px -2px var(--sabine-charcoal), 2px -2px var(--sabine-charcoal), -2px 2px var(--sabine-charcoal), 2px 2px var(--sabine-charcoal);
}

#header {
    background: linear-gradient(rgba(89,71,214,255) 35%, rgba(242,234,239,1) 85%);
}

#footer {
    background: linear-gradient(rgba(242,234,239,1) 85%, var(--sabine-blue) 50%);
}

header,
    footer {
    background: rgba(89,71,214,255);
    width: 100%;
    border: 2px solid var(--sabine-lime);
    border-radius: 5px;
    padding: 10px 20px 15px 50px;
    margin-left: auto;
    margin-right: auto;

}

button {
    font-size: 1.75rem;
    font-family: 'Tilt Warp', cursive;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    align-items: center;
    margin: 10px 30px;
    background-color: var(--sabine-purple);
    color: var(--sabine-offwhite);
    border: 2px solid var(--sabine-lime);
    border-radius: 5px;
    transition: 0.25s;
    width: auto;
    height: auto;
}  

button:hover, 
    a:hover {
    background-color: var(--sabine-orange);
    color:var(--sabine-purple);
    border-color: var(--sabine-purple);
    cursor: pointer;
}

#mainContent {
    width: 60%;
    background-color: var(--sabine-offwhite);
    align-items: center;
    border: 2px solid var(--sabine-lime);
    border-radius: 5px;
    margin-top: 20px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 2.25rem;
    font-family: 'Tilt Warp', cursive;
    
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#greeting, #followUp {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--sabine-charcoal);
}

p {
    text-align: center;
    font-size: max(1.25rem, 24px);
    
}

#profile {
    width: 20%;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
}

section {
    background-color:var(--sabine-purple);
    color:rgba(243, 249, 246, 0.845);
    border: 2px solid var(--sabine-lime);
    border-radius: 5px;
    margin: 10px;
}

#left {
    grid-column: 1 / 2;
    grid-row: 1;
    padding: 10px;
}

#left h1 {
    font-size: 2rem;
}

#right {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 10px;
    text-align: left;
}

img {
    content: url("http://gretacwink.com/images/GretaWink_350x498_Purple.jpg");
    width: 80%;
    height: auto;
}

li {
    margin: 8px;
    font-size: 1.5rem;
}

#right a, #left a {
    color: var(--sabine-light-blue);
}

#right a:visited, #left a:visited {
    color: var(--sabine-orange);
}

#right a:hover, #left a:hover {
    color: var(--sabine-purple);
    text-shadow: none;
}

.links {
    width: 20%;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    color: var(--sabine-blue);
}

a:visited {
    color: var(--sabine-purple);
}

#bottom {
    color: var(--sabine-charcoal);
}

/* optimize for mobile */

/*tablet

@media only screen and (min-width: 768px) and (max-width: 1024px) {


}
*/

/*smartphone*/

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {

    h1 {
        font-size: 6rem;  
    }

    button {
        display: block;
        font-size: 3rem;
        width: 80%;
     
    }
    
    header {
        align-items: center;
    }

    main {
        width: 90%;
    }

    .links {
        float: none;
        display: block;
        width: 80%;
        text-align: left;
        font-size: 2.5rem;
    }

    #grid {
        display: block;
    }

}

@media print {
    nav {
        display: none;
    }

    body, main, section, header, footer, button {
        background: #ffffff;
        background-image: none;
        font-family: 'Arial';
        color: black;
        margin: 0;
        padding: 0;
    }

    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }
}