body {
    text-align: center;
    background-image: url("./sn_background.jpeg");
    background-size: cover;
    font-family: 'Special Elite', cursive;
    color: rgb(249, 252, 222);
    text-shadow: 2px 2px 2px black;
}

video {
    height: 500px;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}