body {
    font-size: 16px;
    background-image: url("images/background_img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    color: rgb(237, 229, 219);
    font-size: 10rem;
    font-family: "Sacramento", cursive;
    text-shadow: rgb(44, 41, 42) 1px 0 15px;
    margin-bottom: 0%;
}

h2 {
    font-size: 6rem;
    font-family: "Sacramento", cursive;
    font-style: italic;
    text-shadow: rgb(44, 41, 42) 1px 0 15px;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(237, 229, 219);
    margin-top: 2%;
    margin-bottom: 2%;
}

aside {
    font-family: "Cookie", cursive;
    font-size: 2rem;
    padding-top: 1%;
    text-shadow: rgb(44, 41, 42) 1px 0 15px;
    color: rgb(237, 229, 219);
}

#sayYes:hover,
    button:hover {
    cursor: pointer;
}

.fadeIn {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

#questionButton {
    position: absolute;
    visibility: hidden;
    top: 0;
    transition: opacity 2s ease-in 2s;
    transition: visibility 2s ease-in 0s;
}

button {
    color: rgb(44, 41, 42);
    font-family: "Cookie", cursive;
    font-size: 4rem;
    width: auto;
    background: rgb(237, 229, 219);
    border-radius: 15px;
    padding: 5px 15px;
    text-shadow: rgb(242, 203, 229) 1px 0 15px;
}

/*-- mobile optimization --*/
@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    body {
        font-size: 12px;
    }
}