/*

.vday {
    color: rgb(135, 55, 135);
    font-family: 'Lobster Two', cursive;
}

body {
    background-image: url("./sheebbg.png");
    background-repeat: repeat;
    background-color: pink;
}

*/