html {
    --revolution-yellow: #e5bf43;
    --shit-brown: #3b2d11;
    --acab-purple: #6e43e5;
    --phlegm-green: #59e543;
    font-size: 16px;
    text-align: center;
}

* {
    background-color: var(--shit-brown);
    color: var(--phlegm-green);
    /*border: red 1px solid;*/
}

body {
    font-family: 'Iceland', sans-serif;
    display: block;
}

h1 {
    font-family: 'Bungee Shade', sans-serif;
    background-color: var(--shit-brown);
    font-size: 5em;
}

h2 {
    font-size: 2em;
    background-color: var(--shit-brown);
    font-family: 'Bungee Shade', sans-serif;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    margin-top: 5px;
}

.purple {
    background-color: var(--acab-purple);
    padding: 15px 10px;
    border: var(--revolution-yellow) 2px solid;
}

nav.container {
    display: inline-flex;
    font-size: 2em;
}

a {
    padding: 0px 20px;
}

header img {
    height: 200px;
    width: 200px;
}

body img {
    height: 200px;
    width: 200px;
}

.block {
    display: block;
}

div.container {
    display: inline-flex;
    width: 80%;
    align-items: center;
}

#cover {
    object-fit: cover;
    height: 375px;
    width: 100%;
}

.who {
    height: 200px;
}

.cards {
    width: 100%;
    height: auto;
}